{% include base_path %}

<header class="masthead">
  <div class="masthead__inner-wrap">
    <nav class="site-nav" aria-label="Primary navigation">
      <a class="site-brand" href="{{ base_path }}/">
        <span>{{ site.author.masthead_name }}</span>
      </a>
      <ul class="site-nav__links">
        {% for link in site.data.navigation.main %}
          {% if link.url contains 'http' %}
            {% assign domain = '' %}
          {% else %}
            {% assign domain = base_path %}
          {% endif %}
          <li>
            <a href="{{ domain }}{{ link.url }}"{% if page.url == link.url %} aria-current="page"{% endif %}>{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
